.rigthBtn{position:absolute; right:40px; top:20px;}
.dropdown-menu{padding:20px;    width: 350px;}
.popUp{background:#999; color:#eee;border-radius:0;}
.inputField{margin:5px;}
.fullW{witdh:100%; background:orange;color:#000;margin:5px;}